{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <section class="auth-section mt-5">
          <div class="mb-4 d-flex align-items-center justify-content-center gap-2">
            <img class="h-7" src="./assets/images/logo.png" alt="logo" style="height: 1.75rem;">
          </div>
          <h2 class="mb-4 text-center h5 font-weight-bold text-secondary">
            Forgot your password?
          </h2>
          <form method="post">
            {% csrf_token %}
            <div class="form-group position-relative mb-4">
              {{ form.email }}
            </div>
            <button class="btn btn-primary btn-block font-weight-bold custom-btn-p" type="submit">
              Continue
            </button>
          </form>
          <div class="my-4 d-flex align-items-center text-center">
            <span class="w-100 border-bottom border-secondary"></span>
            <span class="mx-2 text-uppercase small">Or</span>
            <span class="w-100 border-bottom border-secondary"></span>
          </div>
          <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-secondary px-5">Back</a>
          </div>
    </section>
     
{% endblock %}