{% extends "core/base.html" %}
{% load static %}
{% block content %}
    
    <section class="blog-section">
        <div class="container">
            <div class="row mt-50">
                <div class="col-lg-8">
                    <div class="row">
                        {% for post in posts %}
                        <div class="col-lg-6 col-md-6 mb-5">
                            <div class="blog-item p-1">
                                <div class="blog-wraper">
                                     <div class="blog-header">
                                          <a href="{% url 'blog_single' post.slug %}">
                                              <div class="img-zoom">
                                                  <img src="{{ post.image.url }}" alt="eCommerce Html Template" class="img-fluid w-100">
                                              </div>
                                          </a>
                                    </div>
                                    <div class="blog-body pb-4 px-3 pt-1 position-relative">
                                        <div class="blog-date"><i class="bi bi-calendar"></i><span class="ml-2">{{ post.created_at|date:"M d, Y" }}</span></div>
                                        <div>
                                              <div class="h5 blog-title mt-3">
                                                  <a href="{% url 'blog_single' post.slug %}" class="text-inherit">{{ post.title }}</a>
                                              </div>
                                              <div class="blog-desc my-2">
                                                  <p class="text-inherit">{{ post.content|truncatechars:120 }}</p>
                                              </div>
                                              <div class="text-muted mt-2">
                                                  <a href="{% url 'blog_single' post.slug %}" class="read-more">Read More</a>
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row mb-5">
                        <div class="col-lg-12">
                            <div class="my-4 d-flex border py-4 px-2 align-items-center justify-content-between">
                                <ul class="d-flex align-items-center list-unstyled mb-0 pagination">
                                  <li class="text-muted">
                                    <svg  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                        <line x1="19" y1="12" x2="5" y2="12"></line>
                                        <polyline points="12 19 5 12 12 5"></polyline>
                                    </svg>
                                  </li>
                                  <li class="rounded bg-primary">
                                     <a href="#" class="text-white">1</a>
                                  </li>
                                  <li class="cursor-pointer  rounded"><a href="#">2</a></li>
                                  <li class="cursor-pointer rounded"><a href="#">3</a></li>
                                  <li class="cursor-pointer rounded">
                                    <a href="#">
                                        <svg class="text-primary" stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                                            <line x1="5" y1="12" x2="19" y2="12"></line>
                                            <polyline points="12 5 19 12 12 19"></polyline>
                                        </svg>
                                    </a>
                                  </li>
                                </ul>
                                <div class="d-none d-lg-flex text-right mr-3">Showing 1 - 6 of 7 items</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sidebar-wrap mt-1">
                        <div class="sidebar-blog search rounded-0 card p-4 mb-3 border-0">
                            <input type="text" class="form-control rounded-0 py-2" placeholder="search">
                            <a href="#" class="btn btn-primary mt-3 rounded-0">Search</a>
                        </div>
                        <div class="sidebar-blog latest-post card rounded-0 border-0 p-4 mb-3">
                            <h5>Latest Posts</h5>
                            <div class="d-flex border-bottom py-3 latest-post-item">
                                <a href="#"><img class="mr-4" src="{% static 'assets/images/blog-1.png' %}" width="87" height="65" alt=""></a>
                                <div class="ms-4">
                                    <h6 class="mb-2"><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    <span class="text-sm text-muted">03 Jan 2024</span>
                                </div>
                            </div>

                            <div class="d-flex border-bottom py-3 latest-post-item">
                                <a href="#"><img class="mr-4" src="{% static 'assets/images/blog-2.png' %}" width="87"  height="65" alt=""></a>
                                <div class="ms-4">
                                    <h6 class="my-2"><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    <span class="text-sm text-muted">03 Jan 2024</span>
                                </div>
                            </div>

                            <div class="d-flex py-3 latest-post-item">
                                <a href="#"><img class="mr-4" src="{% static 'assets/images/blog-3.png' %}" width="87" height="65" alt=""></a>
                                <div class="ms-4">
                                    <h6 class="my-2"><a href="#">Lorem ipsum dolor sit amet</a></h6>
                                    <span class="text-sm text-muted">03 Jan 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="sidebar-blog bg-white rounded-0 tags p-4 mb-3">
                            <h5 class="mb-4">Tags</h5>
                            <a href="#">Mobile</a>
                            <a href="#">Laptop</a>
                            <a href="#">Fashion</a>
                            <a href="#">Toys</a>
                            <a href="#">Kids</a>
                            <a href="#">Women</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}