{% extends "core/base.html" %}
{% load static %}
{% block content %}

     
    <section class="cart-section px-3">
      <div class="container mt-50 px-4">
        <div class="mb-6 row">
          <div class="col-12 col-lg-7 mb-4 mb-lg-0">
            <div class="mb-4 row d-none d-sm-none d-md-none d-lg-block">
                <div class="col-lg-12">
                        <div class="row"> 
                          <div class="col-lg-4">
                            <b>Product</b>
                          </div>
                          <div class="col-lg-2">
                            <b>Price</b>
                          </div>
                          <div class="col-lg-3">
                            <b>Quantity</b>
                          </div>
                          <div class="col-lg-3">
                            <b>Total</b>
                          </div>
                        </div>
                </div>
            </div>
            <div class="products mt-3">
              <!-- Product 1 -->
               {% for item in items %}
              <div class="position-relative product-item row mb-4 rounded-lg bg-white pt-3 shadow-sm mr-1">
                <div class="col-12 col-sm-6 col-lg-4 mb-3 mb-sm-3 mb-md-3 md-lg-0">
                  <b class="mb-2 d-block d-xl-none">{{ item.product.name }}</b>
                  <div class=" d-flex w-100">
                    <figure class="rounded-lg">
                      <img  src="{{ item.product.photo.url }}" class="rounded" width="60" alt="img">
                    </figure>
                    <div class="ml-2 w-100">
                      <a class="font-weight-bold text-dark" href="#" >
                        {{ item.product.name }}.
                      </a>
                      <div class="mt-2">
                        <small>#PRD36585</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-2 mb-3 mb-sm-3 mb-md-3 md-lg-0">
                  <b class="mb-2 d-block d-xl-none"></b>
                  <div>
                    <span class="font-weight-bold text-primary">{{ item.total }}</span>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-3 mb-md-3 md-lg-0">
                  <b class="mb-2 d-block d-xl-none">{{ item.quantity }}</b>
                  <div class="qty-container">
                    <button class="qty-btn-minus count-decreament" type="button"><i class="fas fa-minus"></i></button>
                    <input type="number" name="qty" value="{{ item.quantity }}" class="input-qty input-cornered">
                    <button class="qty-btn-plus count-increament" type="button"><i class="fas fa-plus"></i></button>
                </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-3 mb-3 mb-sm-3 mb-md-3 md-lg-0">
                  <b class="mb-2 d-block d-xl-none">{{ item.product.price }}</b>
                  <span class="font-weight-bold text-primary">{{ item.total}}</span>
                </div>
                <form method="post" action="{% url 'shop:remove_from_cart' item.id %}">
                  {% csrf_token %}
                <button type="submit" class="btn btn-primary position-absolute close-cart">
                  <svg  stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                      <line x1="18" y1="6" x2="6" y2="18"></line>
                      <line x1="6" y1="6" x2="18" y2="18"></line>
                  </svg>
              </button>
                </form>
              </div>
               {% endfor %}
        </div>
      </div>
    </section>

{% endblock %}    
