{% extends "core/base.html" %}
{% load static %}
{% block content %}

    <section class="wishlist-section">
      <div class="container mt-50 px-4">
        <div class="row">
            {% for item in wishlist %}
              {% if item.product %}
        <div class="col-12 col-xs-6 col-md-4 col-xl-3">
             <div class="product-card">
                <button class="btn btn-primary position-absolute close-wishlist">
                        <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="20px" width="20px" xmlns="http://www.w3.org/2000/svg">
                            <line x1="18" y1="6" x2="6" y2="18"></line>
                            <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                </button>
                {% if not item.product.available %}
                    <span class="badge-new bg-danger">Out of stock</span>
                {% endif %}
                <a href="#">
                  {% if item.product.photo %}
                    <img src="{{ item.product.photo.url }}" class="img-fluid mb-2 product-img" alt="product">
                    {% endif %}
                </a>
                <h6><a href="{% url 'shop:shop_single' item.product.slug %}">{{ item.product.name }}</a></h6>
                <div class="rating">★★★★★</div>
                <div>
                    {% if item.product.old_price %}
                        <span class="old-price">{{ item.product.old_price }}</span>
                    {% endif %}
                    <span class="price">{{ item.product.price }}</span>
                </div>
                {% if product.slug %}
                <form method="POST" action="{% url 'shop:add_to_cart' product.slug %}">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary cart-btn">Add to Cart</button>
                </form>
                {% endif %}
            </div>
        </div>
          {% endif %}
        {% endfor %}
      </div>
      </div>
    </section>

{% endblock %}   
 